@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

.container1024 {
    max-width: 1024px;
    margin: 0 auto;
}

nav .brand-logo {
    margin-left: 20px;
}
nav form {
    margin-left: 180px;
    width: 300px;
}
nav .nav-wrapper form, nav .nav-wrapper form .input-field{
    height: 100%;
}

.chip-icon{
    float: left;
    font-size: 16px!important;
    line-height: 32px!important;
    padding-right: 8px;
}


.collapsible-body{
    padding:0px;
}

.noUi-handle {
    display: inline-block;
    color: #ffffff;
    font-weight: 400;
    border-radius: 0;
    text-align: center;
    line-height: 0;
    padding: .1em;
    border: .1em solid #a6968d;
    background-color: #fff;
    cursor: pointer;
    z-index: 1;
    position: relative;
}

.noUi-connect {
    background: #ebe6e4;
    -webkit-transition: background 450ms;
    transition: background 450ms;
    box-shadow: none;

}

.teal{
    background-color: #111111!important;
}

span.badge.new{
    background-color: #111111!important; 
}

.secondary-content{
    color: #111111!important; 
}

.btn, .btn-large{
    background-color: #111111!important; 
}

.dropdown-content li>a, .dropdown-content li>span{
    color: #111111!important; 
}

.to-quare{
    object-fit: cover;
    width:42px;
    height:42px;
}

.collection .collection-item.avatar{
    min-height: 50px!important;
}



.focus{
    overflow: hidden;
}

.focus img {
    max-width: 100%;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.focus img:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}


.loading {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #000; /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
    pointer-events: none;
    cursor: default;
    background-color: transparent!important;
    color: transparent;
    font-size: 0;
    padding: 0;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}



.side-nav a.collapsible-header{
    padding: 0px 0px 0px 32px!important;
}

.side-nav .collapsible-body li{
    line-height: 38px!important;
    height: 38px!important;
}

.side-nav .collapsible-body li a{
    padding: 0px 0px 0px 50px!important;
    font-size: 12px;
    color: rgba(0,0,0,0.7);
    line-height: 38px!important;
    height: 38px!important;
}

.side-nav li>a>i.smaller {
    margin: 0px 12px 0px 0px!important;
    font-size: 20px!important;
}


.side-nav .counter{
    color: #bdbdbd;
    font-size: 10px;
    float: right;
    padding: 0px 24px;
}

.side-nav .counter::before { 
    content: "(";
}

.side-nav .counter::after { 
    content: ")";
}


.swiper-lazy-preloader{
    margin-top:25%!important;
}

.page-title{
    position: absolute;
    color: #fff;
    display: inline-block;
    font-size: 2.1rem;
    padding: 0;
    white-space: nowrap;
    line-height: 0px;
}

@media only screen and (max-width: 992px){
    .brand-logo {
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    } 
}

.pagination li.active {
    background-color: transparent;
    padding: 3px 10px 3px 10px;
}

.pagination li.active span{
    font-weight: bold;
}

.actor .card-title{
    font-size:18px;
}