@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

.container1024 {
    max-width: 1024px;
    margin: 0 auto;
}

nav .brand-logo {
    margin-left: 20px;
}
nav form {
    margin-left: 180px;
    width: 300px;
}
nav .nav-wrapper form, nav .nav-wrapper form .input-field{
    height: 100%;
}

.chip-icon{

    float: left;
    font-size: 16px!important;
    line-height: 32px!important;
    padding-right: 8px;
}


.collapsible-body{
    padding:0px;
}

.noUi-handle {
    display: inline-block;
    color: #fff;
    font-weight: 400;
    border-radius: 0;
    text-align: center;
    line-height: 0;
    padding: .1em;
    border: .1em solid #a6968d;
    background-color: #fff;
    cursor: pointer;
    z-index: 1;
    position: relative;
}

.noUi-connect {
    background: #ebe6e4;
    -webkit-transition: background 450ms;
    transition: background 450ms;
    box-shadow: none;

}
